[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dRiftDM"]
	path = dRiftDM
	url = https://github.com/bucky2177/driftdm
[submodule "ez"]
	path = ez
	url = https://github.com/bucky2177/ez
